
.IDENTIFIER {
    color: pink;
}

.NUMBER {
    color: yellow;
}

.SEPARATOR {
    color: cyan;
}

.OPERATOR {
    color: fuchsia;
}

.ERROR {
    background-color: red;
}

.COMMENT {
    color: black;
}

.searching {
    color: orange;
}

.downloading {
    color: green;
}

.available {
    color: blue;
}

.unavailable {
    color: purple;
}

.current-step {
    border-bottom: 5px solid white;
}
