
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'gilbert';
    src: local('gilbert-color'), url(./ui/themes/fonts/gilbert-color.otf) format('opentype');
}

/* div.DraftEditor-root { */
/*     width: 100%; */
/*     overflow-y: auto; */
/* } */
